{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 d-flex align-items-center" style="padding: 1rem">
            <img
              src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA4MThfMjYy%2FMDAxNjkyMzUxNDI2Mzc4.qmIOb_aTZ6f17wInI2ESFqe7sDqqpOXdlMDwV4sdSeMg.4yD72xWVDN3Z72S57vOJ1RJ7nb4ZvO4XAbvHvG3Lcjwg.PNG.koreacookuk%2Fimage.png&type=sc960_832"
              class="img-fluid rounded-start"
              alt="프로필 이미지"
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">이름: 고양</h5>
              <p class="card-text">이</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}